

<div class="flex items-center justify-between bg-white px-5 h-full dark:bg-[#262626]">
    <div class="flex items-center gap-6">
        <i class="bi bi-list text-xl text-gray-500 dark:text-gray-300 cursor-pointer" aria-hidden="true"></i>
        <i class="bi bi-search text-xl text-gray-500 dark:text-gray-300 cursor-pointer" aria-hidden="true"></i>
    </div>
    <div class="flex items-center gap-6">
        <button type="button" @onclick="DarkModeToggel">
            @if(isDarkMode)
            {
              <i class="bi bi-brightness-high text-xl dark:text-gray-300 text-gray-500 cursor-pointer"></i>
            }
            else
            {
                <i class="bi bi-moon-fill text-xl text-gray-500 cursor-pointer"></i>
            }
        </button>
        <i class="bi bi-bell text-xl text-gray-500 cursor-pointer dark:text-gray-300"></i>
        <i class="bi bi-gear text-xl text-gray-500 cursor-pointer dark:text-gray-300"></i>
        
        <div class="h-10 w-10 rounded-full cursor-pointer">
            <img src="images/personFace.jpg" alt="profile" class="rounded-full object-contain"/>
        </div>
    </div>
    
</div>

@code {
    [Parameter] 
    public bool isDarkMode { get; set; }

    [Parameter] 
    public EventCallback ToggelDarkMode { get; set; }

    public void DarkModeToggel()
    {
        ToggelDarkMode.InvokeAsync();
    }
}