

<div class="flex items-center justify-between bg-white px-5 h-full">
    <div class="flex items-center gap-6">
        <i class="bi bi-list text-xl text-gray-500 cursor-pointer" aria-hidden="true"></i>
        <i class="bi bi-search text-xl text-gray-500 cursor-pointer" aria-hidden="true"></i>
    </div>
    <div class="flex items-center gap-6">
        <i class="bi bi-bell text-xl text-gray-500 cursor-pointer"></i>
        <i class="bi bi-gear text-xl text-gray-500 cursor-pointer"></i>
        
        <div class="h-10 w-10 rounded-full cursor-pointer">
            <img src="images/personFace.jfif" alt="profile" class="rounded-full object-contain"/>
        </div>
    </div>
    
</div>

@code {
    
}