<div class="flex flex-col md:flex-row md:items-center md:justify-between gap-2">
    <span class="text-2xl font-bold">Users</span>
    <div class="flex flex-col md:flex-row md:items-center gap-3">
        <button type="button" class="border-1 border-gray-300 hover:border-blue-600 bg-white px-4 py-2 rounded-lg font-medium text-gray-600 cursor-pointer group">
            <i class="bi bi-cloud-arrow-down text-lg text-gray-600 group-hover:text-blue-600"></i>
            <span class="group-hover:text-blue-600">Download</span>
        </button>
        <button type="button" class="bg-blue-500 hover:bg-blue-400 border-1 border-blue-500 text-white font-medium px-4 py-2 rounded-lg cursor-pointer">
            <i class="bi bi-person-plus text-lg"></i>
            Add New
        </button>
    </div>
</div>

@code {
    
}