.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f3f2f1;
    background-color: #2874f0;
}
    .header-container ul li {
        display: inline-flex;
        margin: 0px 20px;
        padding: 10px;
    }

.cart {
    margin: 0px 20px;
}

::deep .nav-link-a {
    color: #FFFFFF;
    font-size: large;
}

::deep .nav-link-a:hover {
    text-decoration:underline;
}

