@inherits LayoutComponentBase

<div class="container">
    <header class="header">
        <HeaderMenu />
    </header>
    <div class="app-container">
        <div class="menu">
            <NavMenu />
        </div>
        <main class="content">
            @Body
        </main>
    </div>
    
    <footer class="footer">Footer</footer>
</div>


