@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>
@* Needed for dialogs *@
<MudDialogProvider/>

@* Needed for snackbars *@
<MudSnackbarProvider/>

<div class=@(IsDarkMode ? "dark font-display" :"light font-display")>
    <div class="h-screen bg-[#f5f5f5] dark:bg-[#0a0a0a]">
        <div class="grid grid-rows-12 grid-cols-12 h-full">
            <header class="shadow col-start-1 lg:col-start-3 col-end-13 row-start-1 row-end-2 z-3">
                <AdminHeader isDarkMode="IsDarkMode" ToggelDarkMode="ToggelDarkMode"/>
            </header>
            <aside class="lg:border lg:border-[#e5e5e5] dark:border-[#404040] hidden lg:block lg:col-start-1 lg:col-end-3 lg:row-start-1 lg:row-end-13">
                <AdminSideBar isDarkMode="IsDarkMode"/>
            </aside>
            <main class="col-start-1 lg:col-start-3 col-end-13 row-start-2 row-end-13 px-8 py-5 flex flex-col overflow-auto z-0">
                <div class="grow">
                    @Body
                </div>
                <footer class="flex items-center justify-between my-3 text-gray-600 dark:text-[#a3a3a3]">
                    <span class="text-sm">Copyright © 2025 Ecme All rights reserved.</span>
                    <span class="text-sm">
                        Term & Conditions | Privacy & Policy
                    </span>
                </footer>
            </main>
        </div>
    </div> 
</div>


@code{
    public bool IsDarkMode { get; set; } = false;

    private void ToggelDarkMode()
    {
        IsDarkMode = !IsDarkMode;
    }
}


