<div class="sidebar-container">
    <div class="heading-container">
        <p class="heading">Filters</p>
    </div>
    <div class="price-slider">
        <p class="sub-heading">Price</p>
        <div class="price-container">
            <PriceRange />
        </div>
    </div>
    <div class="brand">
        <p class="sub-heading">Brand</p>
        <div class="brand-container">
            <ProductBrand />
        </div>
    </div>
    <div class="offers">
        <p class="sub-heading">Offers</p>
        <div class="offer-container">
            <ProductOffer />
        </div>
    </div>
    <div class="rating">
        <p class="sub-heading">Customer Ratings</p>
        <div class="rating-container">
            <ProductRating />
        </div>
    </div>
</div>

@code{
   
}



