
<MudSelect Placeholder="Select Min. Price" Dense="true" Clearable="true" @bind-Value="selectedMinPrice" Variant="Variant.Outlined" CloseIcon="@Icons.Material.Filled.Flag" AdornmentColor="Color.Tertiary">
    <MudSelectItem Value=0>Min</MudSelectItem>
    <MudSelectItem Value=100>$100</MudSelectItem>
    <MudSelectItem Value=200>$200</MudSelectItem>
    <MudSelectItem Value=300>$300</MudSelectItem>
</MudSelect>
<p class="horizontal-spacing">To</p>
<MudSelect Placeholder="Select Max. Price" Dense="true" Clearable="true" @bind-Value="selectedMaxPrice" Variant="Variant.Outlined" CloseIcon="@Icons.Material.Filled.Flag" AdornmentColor="Color.Tertiary">
    <MudSelectItem Value=100>$100</MudSelectItem>
    <MudSelectItem Value=200>$200</MudSelectItem>
    <MudSelectItem Value=300>$300</MudSelectItem>
    <MudSelectItem Value=400>$400</MudSelectItem>
</MudSelect>


@code {
    int selectedMinPrice = 0;
    int selectedMaxPrice = 100;

}
