<InputSelect class="min-price-select" @bind-Value="selectedMinPrice">
    <option value="">Min</option>
    <option value="100">$100</option>
    <option value="200">$200</option>
    <option value="300">$300</option>
    <option value="400">$400</option>
    <option value="500">$500</option>"
</InputSelect>
<p>To</p>
<InputSelect class="max-price-select" @bind-Value="selectedMaxPrice">
    <option value="100">$100</option>
    <option value="200">$200</option>
    <option value="300">$300</option>
    <option value="400">$400</option>
    <option value="500">$500</option>
</InputSelect>

@code {
    string selectedMinPrice = "";
    string selectedMaxPrice = "";
}
