<div class="brand-item">
    <MudCheckBox @bind-Value="checkedBrand" Dense="true" Size="Size.Small" Label="Nike" Color="Color.Primary"></MudCheckBox>
   
</div>
<div class="brand-item">
    <MudCheckBox @bind-Value="checkedBrand" Dense="true" Size="Size.Small" Label="Spyker" Color="Color.Primary"></MudCheckBox>
</div>
<div class="brand-item">
    <MudCheckBox @bind-Value="checkedBrand" Dense="true" Size="Size.Small" Color="Color.Primary">Levis</MudCheckBox>
</div>
<div class="brand-item">
    <MudCheckBox @bind-Value="checkedBrand" Dense="true" Size="Size.Small" Color="Color.Primary">Being Human</MudCheckBox>
</div>
<div class="brand-item">
    <MudCheckBox @bind-Value="checkedBrand" Dense="true" Size="Size.Small" Color="Color.Primary">Lorel</MudCheckBox>
</div>
<div class="brand-item">
    <MudCheckBox @bind-Value="checkedBrand" Dense="true" Size="Size.Small" Color="Color.Primary">Ipsum</MudCheckBox>
</div>
<div class="brand-item">
    <MudCheckBox @bind-Value="checkedBrand" Dense="true" Size="Size.Small" Color="Color.Primary">Board</MudCheckBox>
</div>

@code {
    bool checkedBrand = false;

    
}
