<div class="brand-item">
    <InputCheckbox @bind-Value="checkedBrand" />
    <p class="brand-item-text">Nike</p>
</div>
<div class="brand-item">
    <InputCheckbox @bind-Value="checkedBrand" />
    <p class="brand-item-text">Spyker</p>
</div>
<div class="brand-item">
    <InputCheckbox @bind-Value="checkedBrand" />
    <p class="brand-item-text">Levis</p>
</div>
<div class="brand-item">
    <InputCheckbox @bind-Value="checkedBrand" />
    <p class="brand-item-text">Being Human</p>
</div>
<div class="brand-item">
    <InputCheckbox @bind-Value="checkedBrand" />
    <p class="brand-item-text">Lorel</p>
</div>
<div class="brand-item">
    <InputCheckbox @bind-Value="checkedBrand" />
    <p class="brand-item-text">Ipsum</p>
</div>
<div class="brand-item">
    <InputCheckbox @bind-Value="checkedBrand" />
    <p class="brand-item-text">Board</p>
</div>

@code {
    bool checkedBrand = false;
}
