<div class="h-full w-full lg:w-1/3 bg-white rounded-2xl p-5 border border-[#e5e5e5] dark:border-[#404040] shadow-sm dark:bg-[#262626]">
    <div class="flex flex-col gap-6">
        <div class="self-end">
            <div class="w-8 h-8 bg-gray-300 dark:bg-[#404040] rounded-full flex items-center justify-center cursor-pointer text-left">
                <i class="bi bi-pencil"></i>
            </div>  
        </div>
        <div class="lg:self-center flex flex-row lg:flex-col items-center lg:justify-center gap-4">
            <img src="images/personFace.jpg" alt="Profile" class="rounded-full w-24 h-24 object-contain"/>
            <span class="font-semibold text-xl text-black dark:text-white">Angelina Gotelli</span>
        </div>
        <div class="flex flex-col">
            <span class="text-base font-medium">Email</span>
            <span class="text-sm font-medium text-black dark:text-white">carolyn_h@hotmail.com</span>
        </div>
        <div class="flex flex-col">
            <span class="text-base font-medium">Phone</span>
            <span class="text-sm font-medium text-black dark:text-white">8826120526</span>
        </div>
        <div class="flex flex-col">
            <span class="text-base font-medium">Date of birth</span>
            <span class="text-sm font-medium text-black dark:text-white">@DateOnly.FromDateTime(DateTime.Now)</span>
        </div>
        <div class="flex flex-col">
            <span class="text-base font-medium">Status</span>
            <span class="text-sm font-medium text-black dark:text-white">Active</span>
        </div>
        <div class="flex flex-col">
            <span class="text-base font-medium">Last Online</span>
            <span class="text-sm font-medium text-black dark:text-white">12 Aug 2024 08:10 AM</span>
        </div>
        <div class="flex flex-col">
            <span class="text-base font-medium">Social</span>
            <div class="mt-2">
                <ul class="flex items-center gap-3">
                    <li class="py-1 px-2 bg-white dark:bg-[#525252] border border-[#e5e5e5] dark:border-[#525252] rounded-lg">
                        <a href="#">
                            <i class="bi bi-facebook text-blue-600 text-2xl"></i>
                        </a>
                    </li>
                    <li class="py-1 px-2 bg-white dark:bg-[#525252] border border-[#e5e5e5] dark:border-[#525252] rounded-lg">
                        <a href="#">
                            <i class="bi bi-twitter-x text-2xl"></i>
                        </a>
                    </li>
                    <li class="py-1 px-2 bg-white dark:bg-[#525252] border border-[#e5e5e5] dark:border-[#525252] rounded-lg">
                        <a href="#">
                            <i class="bi bi-linkedin text-2xl text-blue-950"></i>
                        </a>
                    </li>
                    <li class="py-1 px-2 bg-white dark:bg-[#525252] border border-[#e5e5e5] dark:border-[#525252] rounded-lg">
                        <a href="#">
                            <i class="bi bi-pinterest text-2xl text-red-700"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="w-full py-3 rounded-xl bg-blue-500 hover:bg-blue-400 text-white text-sm font-medium cursor-pointer">Send Message</button>
        <button class="w-full py-3 rounded-xl bg-white dark:bg-[#525252] border border-[#e5e5e5] dark:border-[#525252] hover:border-red-500 dark:hover:border-[#f5f5f5] cursor-pointer text-red-600 dark:text-[#f5f5f5] text-sm font-medium">Delete</button>
    </div>
</div>

@code {
    
}