@page "/admin/{Id:int}/UserDetails"
<div class="flex flex-col lg:flex-row items-center gap-5 h-full text-gray-600 dark:text-[#a3a3a3]">
    <UserProfile />
    <History />
</div>

@code {
    [Parameter]
    public int Id { get; set; }
}