@page "/admin/Users/list"
<div class="h-full w-full overflow-auto bg-white rounded-2xl border border-[#e5e5e5] px-5 py-8 flex flex-col gap-5">
    <PageHeader/>
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-3">
        <div class="grow">
            <InputText @bind-Value="Search" placeholder="Quick Search..." DisplayName="Search"
                       class="font-medium text-sm bg-[#f5f5f5] p-3 rounded-lg outline-blue-600 w-full"/>
        </div>
        <button type="button"
                class="border-1 border-gray-300 hover:border-blue-600 bg-white px-4 py-[6px] rounded-lg font-medium text-gray-600 cursor-pointer group">
            <i class="bi bi-funnel text-lg text-gray-600 group-hover:text-blue-600"></i>
            <span class="group-hover:text-blue-600">Filter</span>
        </button>
    </div>
    <div class="overflow-x-auto">
        <table class="w-full">
            <thead>
            <tr class="border-b border-b-[#e5e5e5]">
                <th class="text-left font-medium text-base text-gray-600 uppercase p-0">
                    <StyledCheckBox />
                </th>
                <th class="text-left font-medium text-base text-gray-600 uppercase">Name</th>
                <th class="text-left font-medium text-base text-gray-600 uppercase">Email</th>
                <th class="hidden md:table-cell text-left font-medium text-base text-gray-600 uppercase">Dob</th>
                <th class="hidden md:table-cell text-left font-medium text-base text-gray-600 uppercase">Location</th>
                <th class="hidden md:table-cell text-left font-medium text-base text-gray-600 uppercase">Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="border-b border-b-[#e5e5e5] hover:bg-[#f5f5f5]">
                <td class="p-0">
                    <StyledCheckBox />
                </td>
                <td class="py-3 min-w-36">
                    <div class="flex items-center gap-4">
                        <img src="images/personFace.jfif" alt="Person" class="rounded-full h-10 w-10"/>
                        <a href="/admin/1/UserDetails" class="text-black text-base font-medium cursor-pointer hover:text-blue-600">Meesam</a>
                    </div>
                </td>
                <td class="min-w-60"><span class="truncate">Meesam.engineer@gmail.com</span></td>
                <td class="hidden md:table-cell min-w-32">02/05/1986</td>
                <td class="hidden md:table-cell min-w-40">New Delhi, India</td>
                <td class="hidden md:md:table-cell min-w-30">
                    <span class="py-1 px-3 bg-green-300 rounded-md text-black text-sm font-medium">Active</span>
                </td>
                <td>
                    <div class="flex items-center gap-3">
                        <i class="bi bi-pencil text-gray-600 cursor-pointer"></i>
                        <i class="bi bi-trash3 text-red-500 cursor-pointer"></i>
                    </div>
                </td>
            </tr>
            <tr class="border-b border-b-[#e5e5e5] hover:bg-[#f5f5f5]">
                <td class="p-0">
                    <StyledCheckBox />
                </td>
                <td class="py-3">
                    <div class="flex items-center gap-4">
                        <img src="images/personFace.jfif" alt="Person" class="rounded-full h-10 w-10"/>
                        <a href="/admin/2/UserDetails" class="text-black text-base font-medium cursor-pointer hover:text-blue-600">Meesam</a>
                    </div>
                </td>
                <td>meesam.engineer@gmail.com</td>
                <td class="hidden md:table-cell">02/05/1986</td>
                <td class="hidden md:table-cell">New Delhi, India</td>
                <td class="hidden md:table-cell"><span class="py-1 px-3 bg-green-300 rounded-md text-black text-sm font-medium">Active</span></td>
                <td>
                    <div class="flex items-center gap-3">
                        <i class="bi bi-pencil text-gray-600 cursor-pointer"></i>
                        <i class="bi bi-trash3 text-red-500 cursor-pointer"></i>
                    </div>
                </td>
            </tr>
            <tr class="border-b border-b-[#e5e5e5] hover:bg-[#f5f5f5]">
                <td class="p-0">
                    <StyledCheckBox />
                </td>
                <td class="py-3">
                    <div class="flex items-center gap-4">
                        <img src="images/personFace.jfif" alt="Person" class="rounded-full h-10 w-10"/>
                        <a href="/admin/3/UserDetails" class="text-black text-base font-medium cursor-pointer hover:text-blue-600">Meesam</a>
                    </div>
                </td>
                <td>meesam.engineer@gmail.com</td>
                <td class="hidden md:table-cell">02/05/1986</td>
                <td class="hidden md:table-cell">New Delhi, India</td>
                <td class="hidden md:table-cell"><span class="py-1 px-3 bg-green-300 rounded-md text-black text-sm font-medium">Active</span></td>
                <td>
                    <div class="flex items-center gap-3">
                        <i class="bi bi-pencil text-gray-600 cursor-pointer"></i>
                        <i class="bi bi-trash3 text-red-500 cursor-pointer"></i>
                    </div>
                </td>
            </tr>
            <tr class="hover:bg-[#f5f5f5]">
                <td class="p-0">
                    <StyledCheckBox />
                </td>
                <td class="py-3">
                    <div class="flex items-center gap-4">
                        <img src="images/personFace.jfif" alt="Person" class="rounded-full h-10 w-10"/>
                        <a href="/admin/4/UserDetails" class="text-black text-base font-medium cursor-pointer hover:text-blue-600">Meesam</a>
                    </div>
                </td>
                <td>meesam.engineer@gmail.com</td>
                <td class="hidden md:table-cell">02/05/1986</td>
                <td class="hidden md:table-cell">New Delhi, India</td>
                <td class="hidden md:table-cell"><span class="py-1 px-3 bg-red-300 rounded-md text-black text-sm font-medium">Blocked</span></td>
                <td>
                    <div class="flex items-center gap-3">
                        <i class="bi bi-pencil text-gray-600 cursor-pointer"></i>
                        <i class="bi bi-trash3 text-red-500 cursor-pointer"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
</div>

@code {
    string Search { get; set; }
    bool UserCheck { get; set; } = false;
}